.ui-vestadp-container {
    padding: 2px;
    width: 17em;
    border: solid 1px gray;
    font-family: tahoma;
    background-color: white;
}

.ui-vestadp-container tbody, .ui-vestadp-container td {
    padding: 0px;
    margin: 0px;
}

.ui-vestadp-header, 
.ui-vestadp-footer {
    position: relative;
    background-color: silver;
}

.ui-vestadp-header {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABkEAAAAAAy19n/AAAAAmJLR0T//xSrMc0AAAAJcEhZcwAAAEgAAABIAEbJaz4AAABaSURBVBjTY3h8jYFOaAPDo/cMj/QYHuYyPGhjuF/BcC+L4W4swx0NhltfGG7uZ7jRzXA9nOGaEsOV4wyXdzJcamW4WM5wYQLD+SaGcwcZzt5iOOvAcObMACIAsZae6pVZewYAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTMtMDUtMDNUMDk6MjE6MDMtMDc6MDAeHtLpAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDEzLTA1LTAzVDA5OjIxOjAzLTA3OjAwb0NqVQAAAABJRU5ErkJggg%3D%3D") repeat-x scroll 50% 50% #CCCCCC;
    border: 1px solid #AAAAAA;
    -ms-border-radius: 2px;
        border-radius: 2px;
}

.ui-vestadp-title {
    line-height: 1.8em;
    text-align: center;
    cursor: pointer;
    margin-left: 30px;
    margin-right: 30px;
}
.ui-vestadp-prev {
    left: 0;
}
.ui-vestadp-prev , .ui-vestadp-next {
    border: solid 1px transparent;
    position: absolute;
    -ms-border-radius: 2px;
        border-radius: 2px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    padding: 2px;
    margin: 1px;
    width: 18px;
}

.ui-vestadp-prev:hover,  .ui-vestadp-next:hover,.ui-vestadp-title:hover {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAGQEAAAAAAao4lEAAAAAmJLR0T//xSrMc0AAAAJcEhZcwAAAEgAAABIAEbJaz4AAABISURBVDjLY3j6n2EUjSKqo1u3GG57MdxxY7gby3BvIsP9PwwPMxgefWB4Us7w9DHDcz+GF/MYXl5ieHWW4XUpw+uJo2gUEYMAvlejJVIWsXwAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTMtMDUtMDNUMDk6MjE6MDMtMDc6MDAeHtLpAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDEzLTA1LTAzVDA5OjIxOjAzLTA3OjAwb0NqVQAAAABJRU5ErkJggg%3D%3D")  repeat-x scroll 50% 50% #DADADA;
    border: 1px solid #999999;
    color: #212121;
}

.ui-vestadp-today:hover, .ui-vestadp-clear:hover {
    background-color: gray;
    color: white;
}

.ui-vestadp-container .ui-vestadp-next {
    right: 0;
    top: 0;
}

.ui-vestadp-calendar {
    width: 100%;
}

.ui-vestadp-weekheader > td {
    /*font-size: 0.9em;*/
    font-weight: bold;
    line-height: 2.5em;
    text-align: center;
    width: 14.28%;
}


.ui-vestadp-day,.ui-vestadp-monthlist > td, .ui-vestadp-yearlist > td {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAGQEAAAAAAao4lEAAAAAmJLR0T//xSrMc0AAAAJcEhZcwAAAEgAAABIAEbJaz4AAABISURBVDjLY3iXxzCKRhHV0bNnDM+NGJ7fYXgxk+FlJsOrOIbXIQxvYhjepjK8i2Z4H8DwwZjhIzPDx7UMn+QYPhmOolFEDAIAjUD2JAAuNW8AAAAldEVYdGRhdGU6Y3JlYXRlADIwMTMtMDUtMDNUMDk6MjE6MDMtMDc6MDAeHtLpAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDEzLTA1LTAzVDA5OjIxOjAzLTA3OjAwb0NqVQAAAABJRU5ErkJggg%3D%3D") repeat-x scroll 50% 50% #E6E6E6;
    border: 1px solid #D3D3D3;
    color: #555555;
}

.ui-vestadp-day {
    text-align: center;
    line-height: 2em;
    cursor: pointer;
}

.ui-vestadp-day:hover, .ui-vestadp-monthlist > td:hover, .ui-vestadp-yearlist > td:hover {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAGQEAAAAAAao4lEAAAAAmJLR0T//xSrMc0AAAAJcEhZcwAAAEgAAABIAEbJaz4AAABISURBVDjLY3j6n2EUjSKqo1u3GG57MdxxY7gby3BvIsP9PwwPMxgefWB4Us7w9DHDcz+GF/MYXl5ieHWW4XUpw+uJo2gUEYMAvlejJVIWsXwAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTMtMDUtMDNUMDk6MjE6MDMtMDc6MDAeHtLpAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDEzLTA1LTAzVDA5OjIxOjAzLTA3OjAwb0NqVQAAAABJRU5ErkJggg%3D%3D")  repeat-x scroll 50% 50% #DADADA;
    border: 1px solid #999999;
    color: #212121;
}

.ui-vestadp-day.ui-vestadp-selected, .ui-vestadp-monthlist > td.ui-vestadp-selected, .ui-vestadp-yearlist > td.ui-vestadp-selected {
    background: white;
    border: 1px solid #AAAAAA;
    color: #212121;
}

    .ui-vestadp-day.ui-vestadp-inactive {
        color: silver;
    }

.ui-vestadp-monthlist > td, .ui-vestadp-yearlist > td {
    line-height: 4.5em;
    text-align: center;
    width: 25%;
    cursor: pointer;
}

.ui-vestadp-today, .ui-vestadp-clear {
    display: inline-block;
    line-height: 1.8em;
    text-align: center;
    cursor: pointer;
    width: 50%;
}
