
$main_color: #1D508D;
$main_color_hover: lighten($main_color, 10%);
$text_color_inactive : lighten($main_color, 30%);
$text_color_disabled: silver;
$text_color: #fff;
$text_color_hover: #fff;
$background_color: #fff;
$header_height: 40px;
$header_font_size: 15pt;
$border_color: $main_color_hover;
$screen-xs: 480px !default;
$font-family: tahoma;
$font_size: 10pt;

.ui-vestadp-maincontainer {
  .ui-vestadp-container {
    padding: 2px;
    width: 250px;
    border: solid 1px $border_color;
    font-family: $font-family;
    background-color: $background_color;

    tbody, td {
      padding: 0px;
      margin: 0px;
    }
  }

  &.ui-vestadp-popup {
    z-index:3000;

    .ui-vestadp-container {
      @media (min-width:0) and (max-width: $screen-xs) {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

		@media (min-width:0) and (max-width: $screen-xs) {
			position: fixed !important;
			top: 0 !important;
			left: 0 !important;
			width: 100%;
			bottom: 0;
			background-color: rgba(0,0,0,0.7);
    }

    &.ui-vestadp-closed {
      display: none;
    }
  }
  
  &.ui-vestadp-inline {

  }

  .ui-vestadp-close-btn {
    color: $text_color;
    font-size: $header_font_size;
    font-weight: bold;
    cursor: pointer;
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;

    @media (min-width:0) and (max-width: $screen-xs) {
      display: inherit;
    }

  }
}

.ui-vestadp-header,
.ui-vestadp-footer {
  position: relative;
  background-color: $main_color;
  color: $text_color;
  width: 100%;
}

.ui-vestadp-header {
  .ui-vestadp-title, .ui-vestadp-prev, .ui-vestadp-next {
    height: $header_height;
    text-align: center;
    cursor: pointer;
    font-family: $font-family;
    font-size: $header_font_size;
    border: 0;
    color: $text_color;
    background-color: $main_color;
    
    &:hover {
      background-color: $main_color_hover;
      color: $text_color;
    }

    &:focus {
      outline-style: none;;
    }
  }

  .ui-vestadp-title {
    margin: 0 35px;
    width: calc(100% - 60px);
  }
  .ui-vestadp-prev {
    left: 0;
    position: absolute;
    width: 30px;
    font-weight: bold;
    padding-top: 5px;
  }
  .ui-vestadp-next {
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 30px;
    font-weight: bold;
    padding-top: 5px;
  }
}

.ui-vestadp-title:hover,
.ui-vestadp-today-btn:hover,
.ui-vestadp-clear-btn:hover {
  background-color: $main_color_hover;
  color: $text_color;
}

.ui-vestadp-calendar {
  width: 100%;
  margin: 2px 0;
}

.ui-vestadp-weekheader {
  margin-bottom: 5px;
  border-bottom: solid 1px lighten($main_color, 50%);
  .ui-vestadp-weekday {
    font-weight: bold;
    text-align: center;
    padding: 5px 0 5px 0;
    display: inline-block;
    width: 13.4%;
    margin: 1px;
  }
}

.ui-vestadp-day {
  text-align: center;
  line-height: 1.6em;
  display: inline-block;
  width: 13.4%;
  margin: 1px;
  border: 0;
  cursor: pointer;
  background-color: $background_color;
  font-family: $font-family;
  font-size: $font_size;

  &:focus {
    outline-width: 1px;
    outline-color: $main_color_hover;
    outline-style: dotted;
  }

  &:hover {
    color: $text_color;
    background-color: $main_color_hover;
  }
  &.ui-vestadp-inactive {
    color: $text_color_inactive;
    &:hover {
      color: $text_color_hover;
    }
  }
  &.ui-vestadp-today {
    color: $text_color;
    background-color: $main_color_hover;
  }
  &[disabled] {
    cursor: not-allowed;
    color: $text_color_disabled !important;
    &:hover {
      background-color: $background_color;
    }
  }
}

.ui-vestadp-monthlist>button:hover,
.ui-vestadp-yearlist>button:hover {
  color: $text_color;
  background-color: $main_color_hover;
}

.ui-vestadp-day.ui-vestadp-selected,
.ui-vestadp-monthlist>button.ui-vestadp-selected,
.ui-vestadp-yearlist>button.ui-vestadp-selected {
  color: $text_color;
  background-color: $main_color;
}

.ui-vestadp-monthlist>button,
.ui-vestadp-yearlist>button {
  display: inline-block;
  line-height: 4.5em;
  text-align: center;
  width: 25%;
  border: 0px;
  cursor: pointer;
  background-color: $background_color;
  font-family: $font-family;
  font-size: $font_size;

  &:focus {
    outline-width: 1px;
    outline-color: $main_color_hover;
    outline-style: dotted;
  }
}

.ui-vestadp-today-btn,
.ui-vestadp-clear-btn {
  display: inline-block;
  line-height: 1.8em;
  text-align: center;
  cursor: pointer;
  background-color: $main_color;
  color: $text_color;
  font-family: $font-family;
  font-size: $font_size;
  border: 0;
  width: 50%;
}